@import url('https://fonts.googleapis.com/css?family=Kanit');

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0f0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Futura No2 D', 'Kanit', sans-serif;
}

fieldset {
  border: 1px solid white;
}

.container {
  display: flex;
  -moz-user-select: none;
  user-select: none;
  position: relative;
}

.team {
  color: #eee;
  font-size: 1.5vw;
  flex: 1;
  display: flex;
  line-height: 2.5vw;
}

.team > div:first-child {
  display: flex;
  flex: 1;
  z-index: 1;
}

.team.left > div:first-child {
  background-color: #40bbe7;
  padding-left: 1vw;
}

.team.left > div:first-child > .name {
  text-align: right;
  padding-right: 1vw;
}

.team.left > div:first-child > .score {
  color: #40bbe7;
  border-right: 0.3vw solid #40bbe7;
}

.team.left > .faction.play {
  animation: left-slide-out 0.25s, left-slide-in 0.25s 0.25s;
}

.team.left > .faction.hide {
  transform: translateX(-100%);
}

.team.right {
  flex-direction: row-reverse;
}

.team.right > div:first-child {
  background-color: #df0d28;
  padding-right: 1vw;
  flex-direction: row-reverse;
}

.team.right > div:first-child > .name {
  padding-left: 1vw;
}

.team.right > div:first-child > .score {
  color: #df0d28;
  border-left: 0.3vw solid #df0d28;
}

.team.right > .faction.play {
  animation: right-slide-out 0.25s, right-slide-in 0.25s 0.25s;
}

.team.right > .faction.hide {
  transform: translateX(100%);
}

.team > div:first-child > .name {
  flex: 1;
}

.team > div:first-child > .score {
  background-color: #eee;
  flex: 0 0 3.25vw;
  text-align: center;
}

.team > .faction {
  flex: 0 0 4vw;
  text-align: center;
  background-color: #444;
  color: #eee;
  transition: transform 0.5s;
}

.team > div:first-child > .group {
  padding: 0 1vw;
  background-color: rgba(0,0,0,0.5);
}

.team > div:first-child > .group.hide {
  display: none;
}

.spacer {
  flex: 1;
}

.info {
  display: flex;
  line-height: 2.5vw;
  flex: 0 0 21%;
  font-size: 1.5vw;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.info.show {
  transform: translateY(0);
}

.info > .text {
  background-color: #222;
  color: #eee;
  flex: 0 0 75%;
  text-align: center;
  padding: 0 1vw;
  white-space: nowrap;
}

.controller {
  position: relative;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2vw;
  height: 50vh;
  overflow-y: auto;
  z-index: 9999;
}

.controller button {
  font-size: inherit;
  font-family: inherit;
  line-height: 2.5;
}

.controller input[type=text],
.controller input[type=number] {
  font-size: inherit;
  font-family: inherit;
}

label {
  -moz-user-select: none;
  user-select: none;
}

input[type=checkbox],
input[type=radio] {
  width: 2vw;
  height: 2vw;
  vertical-align: middle;
}

.edit > * {
  display: inline-block;
  vertical-align: middle;
}

.edit > .options {
  background-color: rgba(255,255,255,0.25);
  padding: 0.5vw 0;
  margin: 1vw 0;
}

.about {
  font-family: monospace;
  text-align: right;
  font-size: 60%;
  padding: 0.5vw 0;
}

#generatedUrl {
  font-size: 70%;
  font-family: inherit;
  width: 100%;
}

#reloadBtn {
  line-height: initial;
}

.url > .alert {
  display: none;
  color: #fbff00;
}

.url > .alert.show {
  display: inline;
}

@keyframes left-slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes left-slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes right-slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes right-slide-in {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}